@import "../../index.scss";

$prefixHeight: 16px;
$prefixWidth: 4px;

.ListHeader {
  &___label::before {
    display: inline-block;
    content: "";
    background-color: $primary;
    background-size: $prefixWidth $prefixHeight;
    height: $prefixHeight;
    width: $prefixWidth;
    margin-right: 6px;
  }
}
