.ListHeader {
  &___label::before {
    display: inline-block;
    content: "";
    background-color: #00994e;
    background-size: 4px 16px;
    height: 16px;
    width: 4px;
    margin-right: 6px;
  }
}
